/**
* General styling
*/

* {
  box-sizing: border-box;
}

.contact-section {
  color: white;
}

.contact-section p{
  color: white;
}

.contact-details p{
  color: white;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: linear-gradient(green, yellow, red);
}

img {
  max-width: 100%;
}

h1{
  color: white;
}

p {
  font-weight: lighter;
  line-height: 1.5;
  color: black;
}

.main-header p {
  color: white;
}

a {
  color: #ffffff;
  transition: color .3s;
}

a:hover {
  color: #333;
}

.container {
 max-width: 1024px;
 margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation,
.main-header,
.portfolio-section,
.skills-section,
.contact-section {
  padding: 0 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .main-navigation,
  .main-header,
  .skills-section,
  .contact-section {
    padding: 0 2rem;
  }
  .portfolio-section {
    padding: 1rem;
  }
}



/**
* Main Navigation and header
*/

.main-navigation, .main-header {
  text-align: center;
}

.main-navigation h1 {
  font-size: 1.5rem;
}

.main-navigation ul {
  list-style: none;
  padding: 0;

}

.main-navigation li {
  background: rgba(255, 255, 255, 0.2);
  margin: .3rem 0;
}

.main-navigation a {
  display: block;
  padding: 10px;
  font-size: .9rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.main-header {
    padding-bottom: 1rem;
}

.main-header p {
  margin: 0 2rem 1rem;
}

.header-image {
  max-width: 70%;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .main-navigation h1 {
    margin: 3rem auto 1.5rem;
  }

  .main-navigation li {
    display: inline-block;
    background: none;
    margin: 0 .5rem;
  }

  .main-header {
    margin: 3.5rem auto 1rem;
    text-align: left;
    font-size: 1.2rem;
  }

  .main-header p {
    margin: 0 2rem 1rem 1rem;
  }

  .header-image {
    float: right;
    max-width: 40%;
    margin: 0 0 3rem 2rem;
  }
}

@media (min-width: 1024px) {
  .main-navigation {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .main-navigation h1 {
    margin: 0 auto 0 0;
  }

  .main-navigation ul {
    margin: 0;
  }

  .main-navigation a {
    padding-right: 0;
    padding-left: 1rem;
  }

  .main-header {
      margin: 4rem auto 0;
  }

  .main-header p {
    margin: 2rem 2rem 0 0;
  }
}



/**
* Main content, Portfolio Section and Contact Section
*/

.main-content {
  text-align: center;
}

.main-content h2 {
  margin: 0;
  padding: 3rem 0;
  font-size: .9rem;
  text-transform: uppercase;
}

.main-content h3 {
  font-weight: normal;
  color: black;
}

.portfolio-section {
  background: rgba(255, 255, 255, 0.3);
}

.portfolio-section p {
  color: black;
}

.portfolio-unit {
  padding-bottom: 1rem;
}

.portfolio-unit a {
  text-decoration: none;
}

.portfolio-unit img {
  margin-bottom: .5rem;
  border: 3px solid rgba(255, 255, 255, 0.8);
}

.skills-section {
  background: rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
}

.skill-set {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
}

.skill-set li {
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.5);
  padding: 3px 8px;
  margin: 3px;
  font-size: .9em;
}

.skill-set li:nth-of-type(2n+1) {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
}

.skills-section h2,
.contact-section h2 {
  padding: 3rem 0 2rem 0;
}

.contact-section a {
  font-weight: 600;
  padding: 0 5px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-content h2 {
    padding-top: 4rem;
  }

  .portfolio-unit {
    max-width: 49.5%;
    float: left;
    margin-right: 1%;
    padding: .5rem;
    margin-bottom: 3rem;
    transition: all .3s;
  }

  .portfolio-unit:nth-of-type(2n+0) {
    margin-right: 0;
  }

  .portfolio-unit:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  .portfolio-unit:hover h3,
  .portfolio-unit:hover p {

  }

  .contact-details {
    margin-top: 3rem;
  }

  .skills-section p,
  .skills-section ul,
  .contact-section p {
    font-size: 1.2rem;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .portfolio-unit {
    max-width: 32.5%;
    margin-right: 1%;
  }

  .portfolio-unit:nth-of-type(2n+0) {
    margin-right: 1%;
  }

  .portfolio-unit:nth-of-type(3n+0) {
    margin-right: 0;
  }

  .skills-section p,
  .skills-section ul {
    max-width: 750px;
  }

}



/**
* Footer and footer navigation
*/

.main-footer {
  margin: 4rem 1rem 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1rem .2rem 0 .2rem;
}

.footer-navigation li {
  display: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8rem;
}

.footer-navigation a {
  text-decoration: none;
}

li.go-top {
    display: inline-block;
}

li.footer-name {
  display: inline-block;
  margin-right: auto;
  text-transform: none;
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .main-footer {
    margin-bottom: 5rem;
  }

  .footer-navigation li {
    display: inline-block;
    margin-left: 2rem;
  }

  li.footer-name {
    margin-left: 0;
  }

  li.go-top {
    display: none;
  }
}
